/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: '*.csv'
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: TRIMMOMATIC {
        ext.args2 = 'ILLUMINACLIP:/usr/local/share/trimmomatic-0.39-2/adapters/NexteraPE-PE.fa:2:30:12 SLIDINGWINDOW:4:25 LEADING:20 TRAILING:20 MINLEN:100'
    }

    withName: BBTOOLS_SEAL {
        ext.args = 'k=21'
    }

    withName: TRINITY {
        ext.args = '--min_contig_length 300 --min_kmer_cov 10 --min_glue 10'
    }

    withName: MAFFT {
        ext.args = '--adjustdirectionaccurately'
    }

    withName: PYSAMSTATS {
        ext.args = '--min-baseq=15'
    }

     withName: PYSAMSTATS_PARSER {
        ext.args = '-a 5 15 -d 200 -i -t -c'
    }

    withName: SAMTOOLS_CONSENSUS{
        ext.args = '--min-depth 200'
    }

    withName: BWA_MEM_2 {
        publishDir = [
            path: { "${params.outdir}/self_align_bwa" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
