/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: '*.csv'
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: TRIMMOMATIC {
        ext.args2 = 'ILLUMINACLIP:/usr/local/share/trimmomatic-0.39-2/adapters/NexteraPE-PE.fa:2:30:12 SLIDINGWINDOW:4:20 LEADING:20 TRAILING:20 MINLEN:100'
    }

    withName: BBTOOLS_SEAL {
        ext.args = 'k=21'
    }

    withName: TRINITY {
        ext.args = '--normalize_max_read_cov 1000 --jaccard_clip --min_contig_length 300 --min_kmer_cov 20 --min_glue 20'
    }

    withName: MAFFT {
        ext.args = '--adjustdirectionaccurately --localpair  --op 5 --ep 2'
    }


    withName: PYSAMSTATS {
        ext.args = '--min-baseq=15'
        publishDir = [
            path: { "${params.outdir}/pysamstats_reports" },
            mode: params.publish_dir_mode,
        ]
    }


    withName: PYSAMSTATS_PARSER {
        ext.args = '-a 5 15 -d 10 -i -t -c'
        publishDir = [
        [
        path: { "${params.outdir}/final_consensus" },
        pattern: "*.fasta",
        mode: params.publish_dir_mode,
        ],
        [
        path: { "${params.outdir}/pysamstats_reports/read_stats_files" },
        pattern: "*parsed.tsv",
        mode: params.publish_dir_mode,
        ],
        [
        path: { "${params.outdir}/pysamstats_reports/indel_report" },
        pattern: "*Report.tsv",
        mode: params.publish_dir_mode,
        ],
    ]
    }

    withName: 'REPORT_CHECK_COVERAGE' {
        ext.args = '-c'
        publishDir = [
            path: { "${params.outdir}/misc_reports/check_coverage" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: 'REPORT_NGS_STATS_ALL' {
        publishDir = [
            path: { "${params.outdir}/misc_reports/ngs_stats" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: 'REPORT_NGS_STATS_PASS' {
        publishDir = [
            path: { "${params.outdir}/misc_reports/ngs_stats" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: SAMTOOLS_CONSENSUS{
        ext.args = '--min-depth 1 --no-use-MQ --line-len 100000 --P-het 1e-1000 -A'
        publishDir = [
            path: { "${params.outdir}/samtools_consensus" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

    withName: BWA_MEM_1 {
        publishDir = [
            path: { "${params.outdir}/hybrid_align_bwa" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

    withName: BWA_INDEX_1 {
        publishDir = [
            path: { "${params.outdir}/hybrid_align_bwa" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

    withName: BWA_MEM_2 {
        ext.args = '-B 3'
        publishDir = [
            path: { "${params.outdir}/samtools_consensus_align/sam_cons_align_bwa" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

    withName: BWA_INDEX_2 {
        publishDir = [
            path: { "${params.outdir}/samtools_consensus_align/sam_cons_align_bwa" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

    withName: SAMTOOLS_INDEX {
        publishDir = [
            path: { "${params.outdir}/misc_reports/samtools_stats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

    withName: SAMTOOLS_STATS {
        publishDir = [
            path: { "${params.outdir}/misc_reports/samtools_stats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

    withName: SAMTOOLS_DEPTH_1 {
        ext.args = '-aa -d 0'
        publishDir = [
            path: { "${params.outdir}/samtools_consensus_align/sam_cons_align_depth" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

    withName: REPORT_PLOT_DEPTH_1 {
        publishDir = [
            path: { "${params.outdir}/samtools_consensus_align/sam_cons_align_depth" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: REPORT_SAMTOOLS_DEPTH_AND_STATS {
        publishDir = [
        path: { "${params.outdir}/misc_reports/samtools_stats" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

//REF align stuff
    withName: SAMTOOLS_DEPTH_REF {
        ext.args = '-aa -d 0'
        publishDir = [
            path: { "${params.outdir}/ref_align/ref_align_depth" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

    withName: BWA_MEM_REF {
        publishDir = [
            path: { "${params.outdir}/ref_align/ref_align_bwa" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }
    withName: BWA_INDEX_REF {
        publishDir = [
            path: { "${params.outdir}/ref_align/ref_align_bwa" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

    withName: REPORT_PLOT_DEPTH_REF {
        publishDir = [
        path: { "${params.outdir}/ref_align/ref_align_depth" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

//REPORT organizing
    withName: REPORT_STANFORD_JSON {
        publishDir = [
        path: { "${params.outdir}/drug_resistance/stanford_json" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: REPORT_STANFORD_SUMMARY {
        publishDir = [
        path: { "${params.outdir}/drug_resistance/stanford_json" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: REPORT_SIMILARITY {
        publishDir = [
        path: { "${params.outdir}/sample_similarity_matrix" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: REPORT_SIMILARITY_MATRIX {
        publishDir = [
        path: { "${params.outdir}/sample_similarity_matrix" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

if (params.positive_control_ref) {
//CONTROL_TEST options
    withName: '.*:CONTROL_TEST:BWA_INDEX' {
        publishDir = [
            path: { "${params.outdir}/control_test/bwa" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: '.*:CONTROL_TEST:BWA_MEM' {
        publishDir = [
            path: { "${params.outdir}/control_test/bwa" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: '.*:CONTROL_TEST:SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/control_test/samtools" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: '.*:CONTROL_TEST:PYSAMSTATS' {
        ext.args = '--min-baseq=15'
        publishDir = [
            path: { "${params.outdir}/control_test/pysamstats" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: '.*:CONTROL_TEST:PYSAMSTATS_PARSER' {
        ext.args = '-a 1 2 5 15 -d 200 -i -t -c'
        publishDir = [
            path: { "${params.outdir}/control_test/pysamstats" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: '.*:CONTROL_TEST:REPORT_CHECK_COVERAGE' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/control_test/check_coverage" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: '.*:CONTROL_TEST:SAMTOOLS_STATS' {
        publishDir = [
            path: { "${params.outdir}/control_test/samtools/stats" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: '.*:CONTROL_TEST:SAMTOOLS_DEPTH' {
        ext.args = '-aa -d 0'
        publishDir = [
            path: { "${params.outdir}/control_test/samtools/depth" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: '.*:CONTROL_TEST:REPORT_SAMTOOLS_DEPTH_AND_STATS' {
        publishDir = [
            path: { "${params.outdir}/control_test/samtools" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: '.*:CONTROL_TEST:REPORT_NGS_STATS' {
        publishDir = [
            path: { "${params.outdir}/control_test/ngs_stats" },
            mode: params.publish_dir_mode,
        ]
    }
}

//
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
